* {
  font-family: "Kdam Thmor Pro", serif;
  font-size: 16px;
}

html {
  background-color: #9a0808;
}

label {
  color: white;
  text-align: center;
}

h1 {
  font-family: Anton;
  font-size: 5vw;

  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black;
}

